{% extends 'navuser.html' %}
{% block content %}
{% load static %}
    <style>
        .navbar-dark .navbar-nav .nav-item.active a.nav-link {
            background-color: aqua;

        }

        .nav-item.active {
            background-color: rgb(224, 169, 169);
            color: white;
        }

        .card {
            margin-bottom: 20px;
        }

        .card img {
            height: 100px;
            object-fit: cover;
        }

        .card-title {
            text-align: center;
            margin-top: 10px;
        }

        .card {
            margin-right: 20px;
            padding-left: 50px;
        }
    </style> 
</head>

<body>

    <section style="background-color: #d0601e;">
        <div class="container py-5">
            <div class="row justify-content-center align-items-center">
                <div class="col text-center">
                    <h2 class="display-4 mb-4">Food Cart</h2>

                    {% if user.all %}
                        {% for product in user.all %}
                            <div class="card mb-4">
                                <div class="card-body p-4">
                                    <div class="row align-items-center">
                                        <div class="col-md-4">
                                            <img src="{{ product.product.image.url }}" class="img-fluid rounded"
                                                alt="{{ product.product.name }}">
                                        </div>
                                        <div class="col-md-4">
                                            <p class="small text-muted mb-2">Name</p>
                                            <p class="lead mb-0">{{ product.product.name }}</p>
                                            <p class="small text-muted mb-2 mt-3">Description</p>
                                            <p class="lead mb-0">{{ product.product.description }}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="small text-muted mb-2">Quantity</p>
                                            <p class="lead mb-0">{{ product.quantity }}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="small text-muted mb-2">Price</p>
                                            <p class="lead mb-0">{{ product.product.price }}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <form method="POST" action="{% url 'remove_from_cart' product.product.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-light btn-lg me-2"><a href="{% url 'all_products' %}">Buy More</a></button>
                            <a href="{% url 'payment' %}" type="button" class="btn btn-primary btn-lg">Ready To Pay</button></a>
                        </div>
                    {% else %}
                        <p class="lead">Your food cart is currently empty.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
